#wrapper {
    margin: 1% 0 0 0;
}

#searchBox {
    background: rgb(160, 142, 126);
    padding: 5px;
    width: 250px;
    border: 1px solid black;
    font-size: 120%;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

th {
    font-size: 120%;
    text-align: center;
}

tr:hover td {
    background: rgb(163, 96, 108);
}

tr:nth-child(even){
    background: rgb(187, 165, 145);
}

tr:nth-child(odd){
    background: rgb(160, 142, 126);
}

tr.current-song-row {
    background: #3cc47c;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

.playColumn {
    text-align: center;
}

.queueColumn {
    text-align: center;
}

.playButton {
    margin: 0;
}

.playButton:hover { 
    cursor: pointer;
}

.queueButton {
    margin: 0;
}

.queueButton:hover {
    cursor: pointer;
}