#wrapper {
    margin: 0 0 0 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

tr:hover td {
    background: lightblue;
    cursor: pointer;
}

tr.current-song-row {
    background: lightgreen;
}